---
import Layout from "../layouts/Layout.astro";

const skillLevels = [
  {
    title: "Beginner Projects",
    link: "/projects#beginner",
    color: "bg-red-600",
    image: "r1.png",
  },
  {
    title: "Intermediate Projects",
    link: "/projects#intermediate",
    color: "bg-green-600",
    image: "r2.png",
  },
  {
    title: "Advanced Projects",
    link: "/projects#advanced",
    color: "bg-purple-600",
    image: "r3.png",
  },
];
---

<Layout title="Home">
  <div class="bg-primary">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
      <div class="text-center">
      <img src="logo.png" alt="ThingLearn" class="mx-auto" />
        
        <p class="mt-5 max-w-xl mx-auto text-xl">
          It's a Curriculum. It's a Community. It's also a lot of fun! Let's learn about the Internet of Things together
        </p>
      </div>
    </div>
  </div>

  <div class="text-white text-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3 my-10">
      {
        skillLevels.map((level) => (
          <div class={`${level.color} overflow-hidden shadow rounded-lg`}>
           <div class="px-4 py-2 sm:p-6">
              <h3 class="text-2xl pb-5">{level.title}</h3>
              
              <img src={level.image} alt="{level.title}" class="h-24 w-24 mx-auto" />
              
              <div class="mt-8">
                <a
                  href={level.link}
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm bg-orange-600 hover:bg-blue-700"
                >
                  Explore Projects
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
